<!DOCTYPE html>
<html lang="fr" style="scroll-behavior: smooth;">

<head>

    <meta charset="UTF-8">
    <meta name="description"
        content="La Société ‘Tunisie Hygiène Service THS’, fondue en 2020, vous offre des divers services de dératisation, désinfection, désinsectisation, décafardisation au sein des locaux situé dans la grande Tunis. En plus, THS fournit des produits d'hygiène et de nettoyage.">
    <meta name="keywords" content="hygiène nettoyage services ths tunis Tunisie 
    dératisation décafardisation désinfection virus désinsectisation santé ">
    <meta name="author" content="houssem abidi">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="https://tunisie-hygiene-services.herokuapp.com" />

    <title>Tunisie Hygiène Service</title>

    <link rel="shortcut icon" href="/public/img/favicon.png">
    <!-- Pour utiliser les icone de font awsome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">


    <!--Adding styles-->
    <link rel="stylesheet" href="/public/style/index.css">
    <link rel="stylesheet" href="/public/style/Header.css">
    <link rel="stylesheet" href="/public/style/Services.css">
    <link rel="stylesheet" href="/public/style/icons.css">
    <link rel="stylesheet" href="/public/style/ContactBanner.css" />
    <link rel="stylesheet" href="/public/style/Contact.css">

    <!--bootstrap-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>

    <div class="wrapper">
        <!--navbar-->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Tunisie Hygiène Service</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#header">acceuil</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#about">à propos</a></li>
                        <li><a href="#contact">contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>


        <!--end navbar-->
        <!-- header Section -->
        <section class="" id="header">
            <div class="col-2">
                <h1>Tunisie hygiène service</h1>
                <p id="slogan"><em>depuis 2020</em></p>
            </div>
        </section>
        <!--End header section-->

        <!--services section-->
        <section class="main-section" id="services">
            <section class="sub-section-1">
                <div class="col-2">
                    <h2>Nos services</h2>
                    <p class="description">
                        nous offrons plusieurs services pour les clients de la grande tunis
                        à des prix compététifs.
                    </p>
                </div>
            </section>

            <section class="sub-section-2">
                <div class="icon-box shadow">
                    <i class="icon-mouse large-icon"></i>
                    <h4 class="title">dératisation</h4>
                    <p class="description">
                        Destruction <strong>des rats</strong> et des autres <strong>rongeurs</strong>.
                    </p>
                    <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check-circle"></i></span>rats</li>
                        <li><span class="fa-li"><i class="fas fa-check-circle"></i></span>souris</li>
                        <li><span class="fa-li"><i class="fas fa-check-circle"></i></span>surmulots</li>
                    </ul>
                </div>

                <div class="icon-box shadow">
                    <i class="icon-bug large-icon"></i>
                    <h4 class="title">désinsectisation</h4>
                    <p class="description">
                        permet de lutter contre <strong>les cafards</strong> et <strong>les insectes nuisibles</strong>.
                    </p>
                    <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check-circle"></i></span>les Cafards</li>
                        <li><span class="fa-li"><i class="fas fa-check-circle"></i></span>les moustiques</li>
                        <li><span class="fa-li"><i class="fas fa-check-circle"></i></span>les punaises de lit</li>
                        <li><span class="fa-li"><i class="fas fa-check-circle"></i></span>les termites</li>
                    </ul>
                </div>

                <div class="icon-box shadow">
                    <i class="icon-virus large-icon"></i>
                    <h4 class="title">désinfection</h4>
                    <p class="description">
                        désinfection des locaux contre <strong>les germes</strong> et <strong>les virus</strong>.
                    </p>
                    <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check-circle"></i></span>maisons</li>
                        <li><span class="fa-li"><i class="fas fa-check-circle"></i></span>jardins</li>
                        <li><span class="fa-li"><i class="fas fa-check-circle"></i></span>bureaux</li>
                        <li><span class="fa-li"><i class="fas fa-check-circle"></i></span>centres d'esthétique</li>
                        <li><span class="fa-li"><i class="fas fa-check-circle"></i></span>salons de thé</li>
                        <li><span class="fa-li"><i class="fas fa-check-circle"></i></span>salles de sport</li>
                    </ul>
                </div>

                <div class="icon-box shadow">
                    <i class="icon-cleaning large-icon"></i>
                    <h4 class="title">Vente des produits de nettoyage</h4>
                    <p class="description">
                        Vente et délivration des <strong>produits de nettoyage</strong> et d' <strong>hygiène </strong>:
                    </p>
                    <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check-circle"></i></span>des sols</li>
                        <li><span class="fa-li"><i class="fas fa-check-circle"></i></span>des textiles</li>
                        <li><span class="fa-li"><i class="fas fa-check-circle"></i></span>générale(
                            Virucides,...)
                        </li>
                        <li><span class="fa-li"><i class="fas fa-check-circle"></i></span>des vitres</li>
                    </ul>
                </div>
            </section>
        </section>
        <!--end services section-->

        <!--contact banner-->
        <section class="main-section" id="contact-banner">
            <section class="sub-section-1">
                <div class="col-2">
                    <h2>intéressé par nos services</h2>
                    <p class="description">
                        découvrez de plus amples informations sur nos offres spéciales.
                        Contactez notre équipe, nous nous ferons un plaisir de vous aider !
                    </p>

                </div>
            </section>

            <section class="sub-section-2">
                <div class="col-2">
                    <a href="https://www.facebook.com/Tunisie.hygieneservice" target="_blank" rel="noreferrer"
                        class="icon-button">
                        <i class="fab fa-facebook-f banner-icon"></i>
                    </a>
                    <a href="#contact" class="icon-button"><i class="far fa-envelope banner-icon"></i></a>
                    <a href="#contact" class="icon-button"><i class="fas fa-mobile-alt banner-icon"></i></a>
                </div>
            </section>
        </section>
        <!--end contact banner-->

        <!--about section-->
        <section class="main-section" id="about">
            <div class="col-1">

                <img src="/public/img/logo.png" alt="logo tunisie hygiene services" />

                <p class="description">
                    La Société ‘Tunisie Hygiène Service THS’, fondue en 2020, vous offre des divers services de
                    dératisation, désinfection, désinsectisation, décafardisation au sein des locaux situé dans la
                    grande Tunis. En plus, THS fournit des produits d'hygiène et de nettoyage.
                </p>
            </div>

            <div class="col-2">
                <img src="/public/img/about-img-1.webp" alt="désinfection" />
            </div>
        </section>
        <!--end about section-->

        <!--contact section-->
        <section class="main-section" id="contact">
            <div class="sub-section-1">
                <div class="col-1">
                    <h2>nous contacter</h2>
                    <p class="description">
                        Si vous voulez acheter un service ou si vous avez besion plus d'information
                        , n'hésitez pas à nous contacter.
                    </p>

                    <div class="icon-box-2">
                        <i class="far fa-envelope left-icon"></i>
                        <p class="name">Addresse e-mail</p>
                        <p class="value">tunisiehygieneservice@gmail.com</p>
                    </div>

                    <div class="icon-box-2">
                        <i class="fas fa-mobile-alt left-icon"></i>
                        <p class="name">Téléphone</p>
                        <p class="value">(+216) 53 790 671</p>
                    </div>

                    <div class="icon-box-2">
                        <i class="fas fa-map-marker-alt left-icon"></i>
                        <p class="name">Addresse</p>
                        <p class="value">Ariana Raoued, Ariana, Tunisia</p>
                    </div>
                </div>

                <div class="col-2">
                    <h3>envoyer votre demande</h3>

                    <form>
                        <input type="text" name="name" id="name" placeholder="Nom et pémon" required />
                        <hr class="space" />
                        <input type="tel" name="phone" id="phone" placeholder="Numéro" required />
                        <hr class="space" />
                        <input type="email" name="email" id="email" placeholder="Votre addresse e-mail" required />
                        <hr class="space" />
                        <input type="text" name="object" id="object" placeholder="Objet" required />
                        <hr class="space" />
                        <textarea id="message" name="message" rows="4" required></textarea>
                        <hr class="space" />
                        <input type="submit" class="submit-button" value="Envoyer" />

                        <div class="formMessage"></div>
                    </form>

                </div>

            </div>

            <div class="sub-section-2" id="map">
                <iframe
                title="Adresse de la societé tunisie hygiène services"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3189.9422485315304!2d10.173295815293121!3d36.915645179925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzbCsDU0JzU2LjMiTiAxMMKwMTAnMzEuNyJF!5e0!3m2!1sfr!2stn!4v1626021386768!5m2!1sfr!2stn"
                    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </section>
        <!--end contact section-->

        <!--footer-->
        <footer id="footer">
            <div class="copyright">
                © Tunisie Hygiène Service 2020 - Tous les droits sont réservés
            </div>

            <div>
                <a href="https://www.facebook.com/Tunisie.hygieneservice" class="link-icon" target="_blank"
                    rel="noreferrer">
                    <i class="fab fa-facebook-f footer-icon"></i></a>
            </div>
        </footer>
        <!--end footer-->
    </div>

</body>

</html>